*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

form {
  padding: 0;
  margin-bottom: 0
}

form ul {
  margin: 0;
  list-style-type: none
}

form p:empty {
  display: none
}

form label {
  display: none
}

form li:not(.clear):not(.email) {
  position: relative;
  padding-right: 15px;
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  display: block;
  direction: ltr;
  font-size: 16px;
  clear: none
}

form li:not(.clear):not(.email):nth-of-type(2n+2) {
  float: right;
  margin-right: 0
}

form li:not(.clear):not(.email):nth-of-type(4) {
  float: left;
  margin-right: 2.85714%
}

form li:not(.clear):not(.email):nth-of-type(5) {
  float: right;
  margin-right: 0
}

p.clear {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center
}

li.clear {
  height: 0;
  margin: 0
}

li.clear:after, li.clear:before {
  display: block;
  width: 100%;
  clear: both;
  content: ''
}

input[type=email], input[type=password], input[type=tel], input[type=text], input[type=url], select, textarea {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000000;
  font-family: inherit;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  display: block;
  font-size: 13px;
  line-height: 32px;
  height: 40px;
  padding: 12px;
  margin: 0 0 12px 0;
  width: 100%;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  outline: none
}

input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:focus, textarea:focus {
  background: #fff;
  border-color: #00377B
}

input[type=email], input[type=text] {
  margin-bottom: 15px
}

input[type=email]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px
}

input[type=email]:-moz-placeholder, input[type=text]:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px
}

input[type=email]::-moz-placeholder, input[type=text]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px
}

input[type=email]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px
}

.button {
  line-height: 1;
  padding: 10px 36px;
  margin: 0;
  font-size: 20px;
  text-transform: none;
  width: auto;
  border: 4px solid #00377B;
  font-family: "Overpass", sans-serif;
  background-color: #00377B;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  -webkit-appearance: none;
  text-shadow: none;
  outline: none;
  background-image: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 100px !important;
  -webkit-box-shadow: none;
  box-shadow: none
}

.button:active, .button:hover {
  background-image: none;
  background-color: #834C9E;
  border-color: #834C9E
}

@media (max-width:767px) {
  .button {
    width: auto;
    padding: 12px 32px 9px;
    font-size: 16px
  }
}

#form_232418e5-e31d-4a6f-b429-fee1f4ee4680 .button {
  background-color: #834C9E;
  border-color: #834C9E
}

#form_232418e5-e31d-4a6f-b429-fee1f4ee4680 .button:active, #form_232418e5-e31d-4a6f-b429-fee1f4ee4680 .button:hover {
  background-color: #9760b3;
  border-color: #9760b3
}
